input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", "Open Sans", "Noto Sans", "Arial", "Tahoma", "Verdana", sans-serif;
}

body {
  min-height: 100vh;
  word-break: break-word;
  background: #ffffff;
  overflow-y: scroll;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 3px solid #6495ed;
  border-left: 3px solid #6495ed;
  animation: spin 0.2s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header {
  color: #333333;
}

.form {
  margin: 0 auto;
  max-width: 200px;
}

.input {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #cccccc;
  padding: 0.5rem 1rem;
  width: 100%;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.input::placeholder {
  color: #aaaaaa;
}

.input:focus {
  box-shadow: 0 0 3px 2px #6495ed inset;
}

.name-input {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0;
}

.age-input {
  border-bottom: 0;
}

.add-btn {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background: #4fc152;
  color: #ffffff;
  padding: 0.5rem 1.2rem;
  width: 100%;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  cursor: pointer;
}

.add-btn:focus {
  box-shadow: 0 0 3px 2px #6495ed;
}

.persons-list {
  padding: 1rem;
}

.person {
  list-style-type: none;
}